<!DOCTYPE html>
<html lang="eng">

<head>
    <title>{{ name }}</title>
</head>

<body>
    {% for image in images %}
    <img src="{{ image }}" width="100">
    {% endfor %}
    <p style="text-align: center;"><strong>{{ name }}<br /></strong></p>
    <p><strong>Apperance:</strong> {{ apperance }}</p>
    <p><strong>Roleplaying:</strong>
    <ul>
        {% for elm in roleplaying %}
        <li> {{ elm }}</li>
        {% endfor %}
    </ul>
    </p>
    <p><strong>Relationships:</strong>
    <ul>
        {% for kr in kr_list %}
        <li> <a href="{{ kr | urlencode }}"> {{ kr }} </a> </li>
        {% endfor %}
    </ul>
    </p>
    <p><strong>Background:</strong> {{ background }}</p>
</body>

</html>